<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Unpublished Geocaches</title>
        <meta name="description" content="Fetch your unpublished Geocaches and create a GPX with them.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="assets/app.min.css?{{ constant('SUFFIX_CSS_JS') }}">
    </head>
    <body>
        <nav class="navbar navbar-expand-md fixed-top navbar-inverse">
          <div class="container">
            <div class="navbar-header">
              <span class="navbar-brand">Unpublished Geocaches</span>
            </div>
            <div id="navbar">
              {% if user is empty %}
                <form action="/" method="post">
                    <input type="submit" name="oauth" value="Login with Geocaching.com" class="btn btn-primary navbar-btn navbar-right" />
                </form>
              {% else %}
                <div class="hello-user navbar-right navbar-text">
                    <span><img src="{{ user.avatarUrl }}" width="30" alt="" /></span>
                    <span>Hello {{ user.username }}!</span>
                    <span class="btn btn-default" role="button"><a href="?logout">Sign Out</a></span>
                </div>
              {% endif %}
            </div>
          </div>
        </nav>
        <div class="container" role="main">
            <div class="row">
                {% if exception is defined %}
                    <div class="alert alert-danger col-md-12" role="alert">
                        <h4>Oops!</h4>
                        <p>{{ exception.type }}: <strong>{{ exception.message }}</strong> (Code: {{ exception.code }})</p>
                    </div>
                {% endif %}

                {% block main %}{% endblock %}
            </div>
        </div>

        <hr />

        <footer class="footer">
            <div class="container navbar">
                <ul>
                    <li><i class="glyphicon glyphicon-question-sign"></i> <a href="#help" data-toggle="modal">About</a></li>
                    <li><a href="https://github.com/Surfoo/unpublished-geocaches" onclick="window.open(this.href);return false;"><img src="/assets/icon-github.png" alt="" /> Github</a></li>
                </ul>
            </div>
        </footer>

        <div id="help" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">About</h4>
                    </div>
                    <div class="modal-body">
                        <p>The "Unpublished Geocaches" app allows you to create GPX files from your unpublished geocaches, to prepare an event for example.</p>

                        <h5><strong>Any questions or issues?</strong></h5>
                        <div class="padding-left">You can contact me (French or english): surfooo at gmail dot com</div>

                        <hr />
                        <p class="text-center">
                            <a href="https://www.geocaching.com/help/index.php?pg=kb.chapter&id=125&pgid=826" title="Authorized Developer powered by Geocaching HQ"><img src="assets/live.png" width="57" height="73" alt="Authorized Developer" /></a><br />
                            <span id="poweredby">Powered by Geocaching HQ</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <script src="assets/jquery/jquery.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/app.min.js?{{ constant('SUFFIX_CSS_JS') }}"></script>

        <script>
            let user = {{ user|json_encode|raw }};
            require('app.js');
        </script>
    </body>
</html>